<h1>Cart</h1>
<div class="cart">
    <% courses.forEach(function(course){ %>
        <%- include('partial/card', {item: course}); %>
        <div>count: <%= course.count %></div>
        <div>total: <%= course.count * course.price %></div>
        <button class="js-remove" data-id="<%= course.id %>" data-csrf="<%= csrf %>">Delete</button>
    <% }); %>
    <form action="/orders" method="POST">
        <input name="_csrf" type="hidden" value="<%= csrf%>">

        <button>Order</button>
    </form>
</div>
