<div style="display: flex; align-items: center; justify-content: space-between">
    <h1>Courses</h1>
    <a href="/add" class="add">+</a>
</div>
<!--todo: justify-content: space-around doesn't work / place-content: space-evenly; with grid template?-->
<div style="display: none;">
    <iframe class="d-block" src="https://www.kiyoh.com/retrieve-widget.html?button=true&amp;lang=nl&amp;tenantId=98&amp;locationId=1046732" border="0" title="kiyoh" style="/*! font-size: 84px; */width: 200px; height: 126px;" frameborder="0"></iframe>
</div>
<div class="card__wrap">
    <% courses.forEach(function(course){ %>
        <div class="card">
            <%- include('partial/card', {item: course}); %>
            <div class="card__footer">
                <a href="/courses/<%= course.id%>" class="btn">View</a>
                <% if (userId.toString() === course.userId.toString()) { %>
                    <a href="/courses/<%= course.id%>/edit?allow=true" class="btn">edit</a>
                <% } %>
                <form action="/cart/add" method="post">
                    <input type="hidden" name="id" value="<%= course.id%>">
                    <input name="_csrf" type="hidden" value="<%= csrf%>">

                    <button class="btn">Add to cart</button>
                </form>
            </div>
        </div>
    <% }); %>
</div>
