<h1>Orders</h1>
<div style="border: 1px dotted black">
    <h3>order</h3>
    <p>
        <%= user.name %>
    </p>
    <p>
        <%= user.email %>
    </p>
    <% courses.forEach(function(course){ %>
        <%- include('partial/card', {item: course}); %>
        <div>count: <%= course.count %></div>
        <div>total: <%= course.count * course.price %></div>
    <% }); %>
</div>
