<h1>Profile</h1>
<img src="/<%= user.avatar || 'https://c7.hotpng.com/preview/716/411/705/anakin-skywalker-chewbacca-yoda-leia-organa-junk-food-black-and-white-soldiers.jpg' %>" alt="<%= user.name %>">
<p>
    Your e-mail: <%= user.email %>
</p>
<form action="/profile" method="POST" enctype="multipart/form-data">
    <input type="file" name="avatar">
    <input type="text" name="name" value="<%= user.name %>">

    <input name="_csrf" type="hidden" value="<%= csrf %>">

    <button>save</button>
</form>
